<!DOCTYPE html>
<html>
<head>
  <title>CoughPractice</title>
  <%= stylesheet_link_tag('application', media: 'all') %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= react_component(
    'MainView',                             # Name of main React view.
    { msg: 'Salut', color: 'yellow', height: '300px' },
    { id: 'react-node', prerender: true }   # Server configuration.
  ) %>

  <%= javascript_include_tag('application') %>
</body>
</html>
